---
import { Image } from "astro:assets";
import ImageFondo from "@assets/logoCompleto.png";
import Button from "@components/common/Button.astro";
---
<section class="w-5/6 h-5/6 bg-white grid grid-cols-3 grid-rows-1 rounded-xl shadow-2xl shadow-black">
    <figure class="col-span-2 flex justify-center items-center bg-CFE-800 rounded-l-xl">
        <Image src={ImageFondo} alt="ejemplo" class="max-w-[80%] max-h-[80%] object-contain" />
    </figure>      
    <form action="" method="post" class="rounded-xl col-span-1 flex items-center justify-center">
      <div class="w-4/6 h-4/5 flex flex-col justify-center items-center gap-8">
            <h2 class="text-7xl font-bold flex justify-center items-center">
                ENERG-<span class="text-CFE-700">X</span>
            </h2>
          
          <input required type="email" name="" id="emailLogin" placeholder="email" 
                 class="w-full bg-transparent border-b-2 focus:outline-none"
                 title="Solo se permiten emails de los dominios: @gmail.com, @outlook.com, @hotmail.com, @icloud.com, @cuautla.tecnm.mx">
          <input required type="password" name="" id="password" placeholder="Password" 
                 class="w-full bg-transparent border-b-2 focus:outline-none">
          <p class="w-full text-end">
              <a href="#" class="text-CFE-900 font-bold hover:text-CFE-800 transition-all">Forget password</a>
          </p>
          <Button types="submit" id="login">
              <p class="text-white">Login</p>
          </Button>
          <div class="flex justify-center">
              <p class="font-bold text-sm">
                  ¿No tienes una cuenta? <a href="/app/registroLogin" class="text-CFE-700 hover:underline">Regístrate aquí</a>
              </p>  
          </div>
          <p class="font-bold flex justify-center items-center gap-2">
            <a href="/" class="text-CFE-700 hover:underline">Conócenos</a>
          </p>               
      </div>
    </form>
</section>

<script>
    const submit = document.getElementById('login');
    const email = document.getElementById('emailLogin') as HTMLInputElement;
    const password = document.getElementById('password') as HTMLInputElement;
    submit?.addEventListener('click', async (event) => {
        event.preventDefault();  
        const apiUrl = "http://200.234.224.102/user";

            const response = await fetch(apiUrl, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify({ correo: email.value, contraseña: password.value }), // Convertir los datos a JSON
            });

            // Verificar si la respuesta es exitosa
            if (response.ok) {
                const result = await response.json(); // Convierte a JSON la respuesta                 
                // Almacenar el token en localStorage
                if (result.accessToken) {
                    localStorage.setItem('authToken', result.accessToken);
                    alert('Token almacenado en localStorage');
                } else {
                    alert("el token no se pudo almacenar: ");
                }
                // Almacenar el userId en localStorage
                if (result.userId) {
                    localStorage.setItem('userId', result.userId);
                    console.log('UserId almacenado en localStorage:', result.userId);
                } else {
                    alert("El userId no se pudo almacenar");
                }

                window.location.href = "/app/panelAdm";
                return result;
            } else {
                // Manejo del error si la respuesta no es exitosa
                console.error("Error en la petición:", response.status);
                alert("EL usuario o contraseña son incorrectos")
                return null;
            }
      
    });
</script>
<!-- email: jose@example.com -->
<!-- contraseña: secure_password -->