---
import Layout from "src/layouts/Layout.astro";
import Example from "@components/animations/Example"
---
<Layout title="sdnwk" >
    <section class="w-full h-screen ">
        <Example client:load />
    </section>
</Layout>