---
import Layout from "src/layouts/Layout.astro";
import GraphicsBuilding from "@components/animations/GraphicsBuilding";
---
<Layout title="sdnwk" >
    <section class="w-full h-screen ">
        <GraphicsBuilding client:load />
    </section>
</Layout>