---
import Layout from '../layouts/Layout.astro';
import Form from '../components/common/Form.astro';
---
<Layout title="LowerG">
	<main class="w-full h-screen bg-purple-700 flex justify-center items-center" >
		<Form />
	</main>
</Layout>