---
import Layout from '../layouts/Layout.astro';
import BaseL from '../layouts/BaseLayout.astro';
import Animation from "@components/animations/Animation.jsx";
import Data from "../data/region_one.json";
import DataTwo from "../data/region_two.json";
import Happy from "@assets/mascota_happy.png";
import Sad from "@assets/mascota_sad.png"

import Mascota from '@components/animations/Mascota';
import { Image } from "astro:assets"
---
<Layout title="LowerG">
	<main>
		<BaseL>     
			<div class="flex-grow bg-white p-2 grid grid-cols-2 grid-rows-2 gap-4 overflow-hidden">
				<a href="/realTime" class="col-start-1 row-start-1 bg-slate-300 rounded-xl shadow-black shadow-md">
			  		<Animation client:load dataset={Data} ></Animation>
				</a>
				<a href="/realTime" class="col-start-1 row-start-2 bg-slate-300 rounded-xl shadow-black shadow-md">
				  <Animation client:load dataset={DataTwo}></Animation>
				</a>
				<aside class="bg-slate-300 row-span-2 rounded-xl shadow-black shadow-md relative">
			  		<h3 class="w-full text-center py-4 text-2xl font-bold">Por un consumo de energi</h3>
			  		<ul class="w-full h-full flex flex-col gap-8 pl-8 mt-8 text-slate-900">
						<li>Lorem, ipsum.</li>
						<li>Lorem, ipsum.</li>
						<li>Lorem, ipsum.</li>
						<li>Lorem, ipsum.</li>
						<li>Lorem, ipsum.</li>
						<li>Lorem, ipsum.</li>
			  		</ul>
					<div class='w-60 h-48 bg-black rounded-full' ></div>
			  		<Mascota client:load >
						<Image src={Happy} alt="Example" class="w-60 h-60 object-cover absolute top-8 hover:rotate-45 hover:cursor-pointer transition-all" />
			  		</Mascota>
				</aside>
		  </div>
		</BaseL>
	</main>
</Layout>