<header class="flex justify-center p-4 border-b border-black bg-purple-500">
    <nav class="flex gap-8 font-bold ">
      <a href="/" class="hover:text-white">HOME</a>
      <a href="/oferta" class="hover:text-white">OFERTA</a>
      <a href="/indexApp" class="hover:text-white">WEBAPP</a>
      <a href="/products" class="hover:text-white">PRODUCT DEVICES</a>
      <a href="/about" class="hover:text-white">ABOUT US</a>
    </nav>
  </header>

  