<header class="flex justify-center p-4 border-b border-black">
    <nav class="flex gap-8 font-bold">
      <a href="/" class="hover:text-purple-500">HOME</a>
      <a href="/oferta" class="hover:text-purple-500">OFERTA</a>
      <a href="/about" class="hover:text-purple-500">ABOUT US</a>
      <a href="/indexApp" class="hover:text-purple-500">WEBAPP</a>
      <a href="/products" class="hover:text-purple-500">PRODUCT DEVICES</a>
    </nav>
  </header>
  