---
const {types, link, id} = Astro.props;
---
<button type={types} class="w-full bg-purple-600 rounded-xl text-xl hover:bg-purple-700 transition-all duration-300 shadow-md" id={id} >
    <a href={link} class="block w-full h-full px-4 py-2" >
        <slot />
    </a>
</button>