---
import { Image } from "astro:assets";
import ImageFondo from "@assets/logo.png";
import { FaUserCircle, FaPowerOff } from "react-icons/fa";
import Button from "@components/common/Button.astro";
---

<div class="min-h-screen flex flex-col">
  <div class="bg-purple-500 flex justify-between items-center p-4 relative">
    <!-- Logo -->
    <div class="w-20 h-20">
      <Image src={ImageFondo} alt="ejemplo" class="w-full h-full object-cover" />
    </div>
      <!-- Icono de usuario -->
      <div class="w-10 h-10 flex justify-center items-center cursor-pointer">
        <a href="/">
          <FaPowerOff className="text-3xl" />
        </a>
      </div>
  </div>

  <section class="flex flex-grow">
    <div class="bg-purple-100 p-4 w-64 flex flex-col items-center">
      <!-- Icono de usuario -->
      <div class="w-10 h-10 flex justify-center items-center">
        <FaUserCircle className="text-6xl" />
      </div>
      <h2 class="text-black mt-2">Adrian Guevara Rendón</h2>
    </div>

    <!-- Dashboard -->
    <div class="flex-grow bg-white p-8">
      <iframe src="https://guevadev.grafana.net/d-solo/F9eIn6Q7z/kitchenops-makeover?from=1725506094180&to=1726110894180&refresh=&orgId=1&panelId=13&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
    </div>
  </section>
</div>
