---
import { Image } from "astro:assets";
import ImageFondo from "@assets/logo.png";
import { FaUserCircle, FaPowerOff } from "react-icons/fa";
import Animation from "@components/animations/Animation.jsx";
---

<div class="h-screen grid grid-cols-1 grid-rows-12">
  <div class="bg-purple-500 flex justify-between items-center p-1 row-span-2">
    <!-- Logo -->
    <figure class="w-16 h-16">
      <Image src={ImageFondo} alt="ejemplo" class="w-full h-full object-cover" />
    </figure>
    <!-- Icono de usuario -->
    <div class="w-10 h-10 flex justify-center items-center cursor-pointer">
      <a href="/">
        <FaPowerOff class="text-3xl" />
      </a>
    </div>

  </div>

  <section class="flex row-span-10 overflow-hidden">
    <div class="bg-purple-100 p-4 w-64 flex flex-col items-center">
      <!-- Icono de usuario -->
      <div class="w-10 h-10 flex justify-center items-center">
        <FaUserCircle class="text-6xl" />
      </div>
      <h2 class="text-black mt-2">Adrian Guevara Rendón</h2>
    </div>

    <!-- Dashboard -->
    <div class="flex-grow bg-white p-2 grid grid-cols-2 grid-rows-2 gap-4 overflow-hidden">
      <article class="col-start-1 row-start-1 bg-slate-300 rounded-xl shadow-black shadow-md">
        <Animation client:load></Animation>
      </article>
      <article class="col-start-1 row-start-2 bg-slate-300 rounded-xl shadow-black shadow-md">
        <Animation client:load></Animation>
      </article>
      <aside class="bg-slate-300 row-span-2 rounded-xl shadow-black shadow-md">
        <h3 class="w-full text-center py-4 text-2xl font-bold">Lorem ipsum dolor sit amet</h3>
        <ul class="w-full h-full flex flex-col gap-8 pl-8 mt-8 text-slate-900">
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
        </ul>
      </aside>
    </div>
  </section>
</div>
