---
import { FaUserCircle } from "react-icons/fa";
import Header from "@components/common/Header.astro";
---

<div class="">
  <Header />
  <section class="flex row-span-10">
    <aside class="bg-purple-100 p-4 w-64 flex flex-col items-center">
      <!-- Icono de usuario -->
      <div class="w-10 h-10 flex justify-center items-center">
        <FaUserCircle className="text-6xl" />
      </div>
      <h2 class="text-black mt-2">Adrian Guevara Rendón</h2>
    </aside>
    <slot />
  </section>
</div>